.Card {
  font-size: 1.15rem;
  font-family: inherit;

  display: flex;
  flex-direction: column;

  background-color: rgb(160, 168, 166);

  border: 1px solid white;
  border-radius: 5px;
  box-shadow: rgb(90, 110, 100) 2.2px 2.2px;

  padding: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  font-weight: 700;
}
