.Form {
  display: flex;
  flex-direction: column;

  background-color: rgb(160, 168, 166);

  border: 1px solid white;
  border-radius: 5px;
  box-shadow: rgb(90, 110, 100) 2.2px 2.2px;

  padding: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit {
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.submit:hover {
  background-color: rgb(199, 199, 148);
}