.Input {
  margin-bottom: 10px;
  min-width: 300px;
  font-family: inherit;
  font-size: 1rem;
  padding: 5px;
}

label {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  font-weight: 700;
}