.Navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: rgb(41, 122, 84);
  font-size: inherit;
  color: white;
  margin-bottom: 22px;
}