.Navbar {
  position: relative;

  width: 100%;
  margin-bottom: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;
  background-color: rgb(41, 122, 84);

  font-size: inherit;
  color: white;
}

.github {
  position: absolute;
  right: 70px;
  color: black;
  font-size: 4rem;
}

.github:hover {
  color: rgb(211, 200, 86);
}